* {
    box-sizing: border-box;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

label {
    margin-right: 10px;
    margin-left: 10px;
}

input {
    padding: 5px;
    border: 1px solid gainsboro;
    border-radius: 2px;
    color: #333;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

input:focus {
    outline: none;

    -webkit-box-shadow: 0px 0px 5px #a3bacd;
    -moz-box-shadow: 0px 0px 5px #a3bacd;
    -ms-box-shadow: 0px 0px 5px #a3bacd;
    -o-box-shadow: 0px 0px 5px #a3bacd;
    box-shadow: 0px 0px 5px #a3bacd;
}


ul {
    list-style: none;
    text-align: left;
    padding: 10px 0;
}

ul li {
    background-color: lightgray;
    border-radius: 4px;
    margin: 5px 0px;
    padding: 13px 10px;
    min-height: 50px;
    font-size: 24px;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

ul li:hover {
    background-color: lightblue;
}