* {
    box-sizing: border-box;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

label {
    margin-right: 5px;
}

input {
    padding: 6px;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 2px;
    color: #333;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

input:focus {
    outline: none;

    -webkit-box-shadow: 0px 0px 5px #a3bacd;
    -moz-box-shadow: 0px 0px 5px #a3bacd;
    -ms-box-shadow: 0px 0px 5px #a3bacd;
    -o-box-shadow: 0px 0px 5px #a3bacd;
    box-shadow: 0px 0px 5px #a3bacd;
}

ul {
    list-style: none;
    text-align: left;
    padding: 10px 0;
}

ul li {
    background-color: lightgray;
    border-radius: 4px;
    margin: 5px 0px;
    padding: 15px 10px;
    min-height: 50px;
    font-size: 24px;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

ul li:focus {
    outline: none;
}

ul li:hover {
    background-color: lightblue;
}

ul li div:focus {
    outline: none;
}

ul li div:first-child {
    margin-bottom: 10px;
    /*width: 100%;*/
}

.hbox {
    display: box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;

    box-orient: horizontal;

    box-pack: center;
    -webkit-box-pack: center;

    box-align: center;
    -webkit-box-align: center;
}

ul li div.item-date {
    color: lightslategrey;
}

.main-flex {
    box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
}

ul li div.item-delete {

    height: 1.5em;
    width: 1.5em;

    color: lightgrey;
    background: darkgrey;

    border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;

    cursor: pointer;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

ul li div.item-delete:hover {
    background: grey;
}

button {

    -moz-box-shadow: 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
    box-shadow: 0px 1px 0px 0px #ffffff;

    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);

    background-color: #ffffff;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    height: 31px;

    border: 1px solid #dcdcdc;

    color: #666666;
    /*font-family: Helvetia;*/
    font-size: 1em;
    padding: 4px 10px;
    text-decoration: none;

    text-shadow: 0px 1px 0px #ffffff;

}

button:hover {

    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);

    background-color: #f6f6f6;
}

button:active {
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #f6f6f6 5%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #dcdcdc 100%);

    background-color: #f6f6f6;
}

.input-view {
    padding: 15px 10px;
}